body {
  min-height: 100vh;
  background-color: #000;
  margin: 0;
}

@font-face {
  font-family: 'Catchy Mager';
  src: url('/fonts/CatchyMagerRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sulat Rizal Free';
  src: url('/fonts/SulatRizalFree.otf') format('opentype');
}

@font-face {
  font-family: 'BDScript-Regular';
  src: url('/fonts/BeautifullyDelicious.ttf') format('opentype');
}
